* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Graph */

#graph {
	text-align: center;
	margin: auto;
}

/* Terminal */

#terminal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #000000;
	color: white;
	font-family: monospace;
	font-size: 14px;
	padding: 3px 5px;
	height: 200px;
	width: 100%;
}

#terminal_history_section {
	overflow-y: hidden;
	overflow-x: auto;
	height: 100%;
}

#terminal_input {
	margin: 0;
	font-family: monospace;
	font-size: 16px;
	border: none;
	outline: none;
	background-color: #000000;
	color: white;
	width: 100%;
	caret-shape: bar;
}

#terminal_prompt {
	font-size: 16px;
}

#terminal_input_section {
	display: flex;
	align-items: center;
}

/* Git Areas */
#git_areas {
	background-color: grey;
}

#git_areas ul {
	list-style: none;
}

#git_areas h3 {
	margin-bottom: 1rem;
}

/* General Menu Styles */

.menu {
	position: absolute;
	height: 100%;
}

.menu_content {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
	transition: width 500ms ease;
	overflow: hidden;
}

.menu_right .menu_button {
	position: absolute;
	padding: 10px;
	background-color: green;
	top: 0;
	left: -35px;
}

.menu_right {
	top: 0;
	right: 0;
}
